.container.mx-auto.max-w-xl.px-4
  = form_for current_user, url: user_user_profile_path, method: :put, html: { multipart: true } do |f|
    = f.hidden_field :remove_profile_picture, id: "remove_profile_picture"
    .flex.flex-col.justify-between.size-full
      .grid.gap-x-4{class:"sm:grid-cols-2"}
        .flex.flex-col.w-full.h-full.justify-center.items-center
          - if current_user.profile_picture.present?
            - file = current_user.profile_picture
            - profile_picture_url = file.url
          - else
            - profile_picture_url = asset_path("account-circle-outline.png")
          %label.text-sm{for: "name"}
            = "Profile Picture"
          %div.relative
            .flex.col.justify-center.items-center.w-32.h-32.rounded-full.overflow-hidden.border-2.border-gray-800
              %img.w-32.h-32.rounded-full{id: "profilePicturePreview", src: profile_picture_url }
                %span.w-32.h-32.absolute.rounded-full.bg-slate-800.transition-opacity.duration-300{ class: "opacity-0 hover:opacity-65" }
                  %input.w-full.h-full.absolute.rounded-full.opacity-0.z-10{ type: "file", accept: ".jpg, .jpeg, .gif, .png", name: "profile_picture", id: "profile_picture", class: "cursor-pointer", onchange: "showPreview(this);" }
                  .flex.flex-col.w-full.h-full.justify-center.text-center.text-white
                    = "Change Picture"
            %span.flex.flex-col.justify-center.items-center.absolute.bottom-0.right-2.transform.bg-red-400.border-2.border-gray-800.rounded-full{id: "removeProfileButton", name: "removeProfileButton", class: "w-7 h-7 cursor-pointer #{current_user.profile_picture.present? ? '' : 'hidden'}", onclick: "removeProfilePicture();"}
              %span.mdi.mdi-close.text-xl
        %div
          %label.text-sm{for: "name"}
            = "First Name"
          %input{type: "text", name: "first_name", id: "first_name", class: "rounded-lg p-2 w-full mb-2", value: "#{current_user.first_name}"}
          %label.text-sm{for: "full_name"}
            = "Last Name"
          %input{type: "text", name: "last_name", id: "last_name", class: "rounded-lg p-2 w-full mb-2", value: "#{current_user.last_name}"}
        %div
          %label.text-sm{for: "country"}
            = "Country"
          %input{type: "text", name: "country", id: "country", class: "rounded-lg p-2 w-full mb-2", value: "#{current_user.country}"}
        %div
          %label.text-sm{for: "city"}
            = "City"
          %input{type: "text", name: "city", id: "city", class: "rounded-lg p-2 w-full mb-2", value: "#{current_user.city}"}
        %div
          %label.text-sm{for: "height"}
            = "Height"
          %input{type: "text", name: "height", id: "height", class: "rounded-lg p-2 w-full mb-2", value: "#{current_user.height}"}
        %div
          %label.text-sm{for: "weight"}
            = "Weight"
          %input{type: "text", name: "weight", id: "weight", class: "rounded-lg p-2 w-full", value: "#{current_user.weight}"}
      .flex.w-full.justify-center.space-x-4
        %button{ class: "!bg-primary-500 text-white rounded-lg p-2 mt-4 w-fit", type: "submit" }
          = "Save Changes"

:javascript
  function displayRemoveButton(show) {
    var removeButton = document.getElementById('removeProfileButton');
    
    if (show) {
      removeButton.classList.remove('hidden');
    } else {
      removeButton.classList.add('hidden');
    }
  }

  function showPreview(input) {
    var file = input.files[0];
    if (file) {
      var reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('profilePicturePreview').src = e.target.result;
        displayRemoveButton(true);
      };

      document.getElementById('remove_profile_picture').value = "false";
      reader.readAsDataURL(file);
    } else {
      displayRemoveButton(false);
    }
  }

  function removeProfilePicture() {
    var defaultImageUrl = "#{asset_path('account-circle-outline.png')}";

    document.getElementById('profilePicturePreview').src = defaultImageUrl;

    document.getElementById('remove_profile_picture').value = "true";
    displayRemoveButton(false);
  }

  document.addEventListener('DOMContentLoaded', function() {
    var form = document.querySelector('form');

    form.addEventListener('submit', function(event) {
      event.preventDefault();

      var formData = new FormData(form);

      fetch(form.action, {
        method: form.method,
        body: formData
      })
      .then(function(response) {
        if (response.ok) {
          sessionStorage.setItem('successShown', 'true');
          window.location.reload();
        } else {
          ErrorNotifier.get.show('Something went wrong', 1000);
        }
      })
      .catch(function(error) {
        console.error('Error:', error);
        ErrorNotifier.get.show('Something went wrong', 1000);
      });
    });

    if (sessionStorage.getItem('successShown') === 'true') {
      SuccessNotifier.get.show('Profile updated', 1000);
      sessionStorage.removeItem('successShown');
    }
  });
