.flex.flex-col.justify-center.items-center.w-full.overflow-auto
  .flex.flex-col.justify-center.items-center.place-self-center.w-full
    %h1.text-3xl.font-semibold.mt-10
      = "#{@product.name}"
    %h1.text-xl.font-semibold.mb-8
      = "(#{@product.brand} - #{@product.weight}g)"

  .flex.flex-col.justify-between.items-center{ class: "md:w-2/5 sm:w-full mb-8" }
    .flex.flex-row
      .flex.flex-col{ class: "w-1/2 px-4" }
        %label.mb-4
          = "Number of servings"
        %input{type: "number", name: "servings", id: "servings", required: true, class: "rounded-lg p-2 w-full border-0 bg-slate-50 focus:ring-primary-500", min: "0", value: "1"}
      .flex.flex-col{ class: "w-1/2 px-4" }
        %label#listbox-label
        = "Serving size"
        .relative.mt-4
          %button#weight-units-list-button.relative.w-full.rounded-lg.pl-3.pr-10.text-left.bg-slate-50.shadow-sm{"aria-expanded" => "true", "aria-haspopup" => "listbox", "aria-labelledby" => "listbox-label", class: "py-2 focus:outline-none focus:ring-1 focus:ring-primary-500 sm:text-sm sm:leading-6", type: "button"}
            %span.flex.items-center
              = @weight_units.find { |unit| unit.match?(/^100\s+\S+/) } # Regex sequence for finding any string starting with 100 + whitespace + characters
            %span.pointer-events-none.absolute.inset-y-0.right-0.ml-3.flex.items-center.pr-2
              = material_icon.shape('arrow_drop_down').md_24
          %ul#weight-units.absolute.z-10.mt-1.max-h-56.w-full.overflow-auto.rounded-lg.bg-slate-50.py-1.text-base.shadow-lg.ring-1.ring-black.ring-opacity-5.focus:outline-none.sm:text-sm{"aria-activedescendant" => "listbox-option-3", "aria-labelledby" => "listbox-label", role: "listbox", tabindex: "-1", style: "display: none;"}
            - @weight_units.each_with_index do |unit, index|
              %li{ id: "listbox-option-#{index}", class: "relative cursor-default select-none py-2 pl-3 pr-9 hover:bg-gray-200", role: "option" }
                .flex.items-center
                  %span.font-normal.ml-3.block.truncate= unit

  %div.w-full{ class: "md:w-1/2" }
    .flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.mb-2
      %div{ class: "p-2 font-semibold"}= "Price"
      %div{ class: "p-2 text-slate-700"}= @product.price
    .flex.flex-row.rounded-lg.p-2.justify-between.items-center.mb-2{ class: "bg-slate-50" }
      .flex.flex-row.items-center
        - if @user_allergic_to_product
          .mdi.mdi-alert-circle.text-red-500.text-3xl
        .p-2.font-semibold= "Allergens"
      - if @product_allergens.present?
        %div{ class: "p-2 text-slate-700"}
          = @product_allergens.map { |allergen| allergen.name }.join(", ")
      - else
        %div{ class: "p-2 text-slate-700"}= "None"
    - if @user_allergic_to_product
      .text-slate-700.text-sm.mb-4.text-right
        = "You are allergic to this product. Please consult your doctor before consuming this product."
    .flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.mb-2
      %div{ class: "p-2 font-semibold"}= "Calories"
      %div{ class: "p-2 text-slate-700"}= @product.calories
    .grid.gap-4.w-full.mt-4{ class: "md:grid-cols-2" }
      .flex.flex-col.rounded-lg.space-y-2.w-full
        - User::ProductsController::FATS.each do |fat_type|
          .flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.w-full
            %div{ class: "p-2 font-semibold"}= "#{fat_type.to_s.humanize}"
            %div{ class: "p-2 text-slate-700"}= @product.send(fat_type) || 0
      .flex.flex-col.rounded-lg.space-y-2.w-full
        - User::ProductsController::CARBOHYDRATES.each do |carb|
          .flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.w-full
            %div{ class: "p-2 font-semibold"}= "#{carb.to_s.humanize}"
            %div{ class: "p-2 text-slate-700"}= @product.send(carb) || 0
    .grid.gap-4.w-full.mt-4{ class: "md:grid-cols-2" }
      .flex.flex-col.rounded-lg.space-y-2.w-full
        - User::ProductsController::ESSENTIAL_NUTRIENTS.each do |nutrient|
          .flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.w-full
            %div{ class: "p-2 font-semibold"}= "#{nutrient.to_s.humanize}"
            %div{ class: "p-2 text-slate-700"}= @product.send(nutrient) || 0
      .flex.flex-col.rounded-lg.space-y-2.w-full
        - User::ProductsController::VITAMINS_MINERALS.each do |vitamin_mineral|
          .flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.w-full
            %div{ class: "p-2 font-semibold"}= "#{vitamin_mineral.to_s.humanize}"
            %div{ class: "p-2 text-slate-700"}= @product.send(vitamin_mineral) || 0

  - if @product.approved
    .flex.flex-col.justify-start.items-start{ class: "md:w-2/5 sm:w-full h-full mt-10" }
      %h1.text-2xl.font-semibold.mb-4
        = "Reviews"
      - if @current_user_review.present?
        = form_tag user_product_review_path(@product, @current_user_review), method: "put", class: "flex flex-col items-start shadow-xl rounded-lg p-4 border-2 bg-slate-100 w-full mb-10" do
          #readonly-review.w-full
            .flex.flex-row.justify-start.content-center.rounded-lg.p-2.border-2.mb-3.bg-gray-200{ class: "w-full max-h-64" }
              - if @current_user_review.rating
                .mdi.mdi-thumb-up.text-primary-500.text-3xl.mr-4
                %p.text-slate-800.text-lg.font-medium.mt-1
                  = "You recommended this product"
              - else
                .mdi.mdi-thumb-down.text-red-500.text-3xl.mr-4
                %p.text-slate-800.text-lg.font-medium.mt-1
                  = "You did not recommend this product"
            #readonly-comment
              = @current_user_review.comment.present? ? @current_user_review.comment : ""
            .flex.flex-row.justify-center.items-center.w-full.space-x-4.mt-4
              %button{ type: "button", class: "bg-primary-500 text-white rounded-lg p-2", id: "edit-review" }
                = "Edit"
              = link_to "Delete", user_product_review_path(@product, @current_user_review), method: :delete, class: "bg-red-500 text-white rounded-lg p-2", data: { confirm: "Are you sure?" }
          #review-form.w-full.hidden
            %label.mb-2
              = "Update your review"
            %textarea.bg-slate-50{ class: "w-full h-2/3 mb-2 rounded-lg", style: "resize: none;", name: "comment", id: "review-text" }
              = @current_user_review.comment || ""
            .flex.flex-row.items-center.justify-between.w-full.mt-4
              %label
                = "Do you recommend this product?"
              .flex.flex-row.space-x-4
                %span.mdi.mdi-thumb-up-outline.text-primary-500.text-3xl{:onclick => "updateThumb('UP', 'edit-')", class: "cursor-pointer", id: "edit-thumb-up"}
                %span.mdi.mdi-thumb-down-outline.text-red-500.text-3xl{:onclick => "updateThumb('DOWN', 'edit-')", class: "cursor-pointer", id: "edit-thumb-down"}
              %input{:type => "hidden", :id => "edit-thumb-value", :name => "thumb_value", :value => ""}
              %button{ type: "submit", class: "bg-primary-500 text-white rounded-lg p-2 px-4", id: 'update-review' }
                = "Update"
      - if current_user.present? && @current_user_review.blank?
        = controlled_form user_product_reviews_path(@product), method: "post", class: "flex flex-col items-start shadow-xl rounded-lg p-4 border-2 bg-slate-100 w-full mb-10" do
          %label.mb-2
            = "Write a review for #{@product.name}"
          %textarea.bg-slate-50{ class: "w-full h-2/3 mb-2 rounded-lg", style: "resize: none;", name: "comment", id: "review-text" }
          .flex.flex-row.items-center.justify-between.w-full.mt-4
            %label
              = "Do you recommend this product?"
            .flex.flex-row.space-x-4
              %span.mdi.mdi-thumb-up-outline.text-primary-500.text-3xl{:onclick => "updateThumb('UP')", class: "cursor-pointer", id: "thumb-up"}
              %span.mdi.mdi-thumb-down-outline.text-red-500.text-3xl{:onclick => "updateThumb('DOWN')", class: "cursor-pointer", id: "thumb-down"}
            %input{:type => "hidden", :id => "thumb-value", :name => "thumb_value", :value => ""}
            %button{ type: "submit", class: "bg-primary-500 text-white rounded-lg p-2 px-4" }
              = "Submit"
          
      .flex.flex-col.items-start.w-full
        - if @reviews.present?
          - @reviews.each do |review|
            - next if review.comment.blank? || review.reviewer_id == @current_user_review&.reviewer_id
            - reviewer = User.find_by(id: review.reviewer_id)&.first_name
            .flex.flex-col.items-start.shadow-xl.rounded-lg.p-4.border-2.bg-slate-100.w-full{ class: "mb-4 max-h-64" }
              .flex.flex-row.justify-start.content-center.rounded-lg.p-2.border-2.mb-3.bg-gray-200{ class: "w-full" }
                - if review.rating
                  .mdi.mdi-thumb-up.text-primary-500.text-3xl.mr-4
                  %p.text-slate-800.text-lg.font-medium.mt-1
                    = "Recommended by #{reviewer}"
                - else
                  .mdi.mdi-thumb-down.text-red-500.text-3xl.mr-4
                  %p.text-slate-800.text-lg.font-medium.mt-1
                    = "Not Recommended by #{reviewer}"
              .mb-4.overflow-scroll
                = review.comment
        - else
          %p No reviews available. You can help by adding a review.

:javascript

  $(document).ready(function() {
    var listItems = document.querySelectorAll('#weight-units li');
    var button = document.querySelector("#weight-units-list-button > span")
    var weightUnitsList = document.getElementById('weight-units');

    function updateServingSize(element) {
        var buttonText = element.innerText.trim();
        button.innerText = buttonText;
        weightUnitsList.style.display = 'none';
    }

    button.addEventListener('click', function() {
        if (weightUnitsList.style.display === 'none' || weightUnitsList.style.display === '') {
            weightUnitsList.style.display = 'block';
        } else {
            weightUnitsList.style.display = 'none';
        }
    });

    listItems.forEach(function(item) {
        item.addEventListener('click', function() {
            updateServingSize(this);
        });
    });

    document.body.addEventListener('click', function(event) {
        if (!event.target.closest('#weight-units-list-button') && !event.target.closest('#weight-units')) {
            weightUnitsList.style.display = 'none';
        }
    });

    $('#edit-review').click(function() {
      $('#readonly-review').addClass('hidden');
      $('#review-form').removeClass('hidden');
      if ("#{@current_user_review&.rating}" == "true") {
        updateThumb('UP', 'edit-');
        //$("#edit-thumb-up").removeClass("mdi-thumb-up-outline").addClass("mdi-thumb-up");
      } else if ("#{@current_user_review&.rating}" == "false") {
        updateThumb('DOWN', 'edit-');
        //$("#edit-thumb-down").removeClass("mdi-thumb-down-outline").addClass("mdi-thumb-down");
      }
    });
  });

  function updateThumb(value, identifier = '') {
    var thumbValue = document.getElementById(identifier + 'thumb-value');
    thumbValue.value = value;
    if (value === 'UP') {
      $('#' + identifier + "thumb-down").removeClass("mdi-thumb-down").addClass("mdi-thumb-down-outline");
      $('#' + identifier + "thumb-up").removeClass("mdi-thumb-up-outline").addClass("mdi-thumb-up");
    } else {
      $('#' + identifier + "thumb-down").removeClass("mdi-thumb-down-outline").addClass("mdi-thumb-down");
      $('#' + identifier + "thumb-up").removeClass("mdi-thumb-up").addClass("mdi-thumb-up-outline");
    }
  }
