.rounded-lg.bg-primary-400.p-4.shadow-md.flex.flex-col.justify-center.items-center.w-full{class: "md:max-w-[85%] md:flex-row"}
  .flex.flex-col.justify-center.items-center.text-white.space-y-2{class: "md:max-w-[20%] p-4"}
    .text-2xl.font-semibold
      = "Best matches for you"
    .text-sm.text-base.text-left
      = "We make it easy for you to find the best products that match your preferences and the products you love the most."
    %button.text-white.text-left.w-full
      = link_to user_basket_path do
        .flex.flex-row.space-x-2.items-center
          .text-base.font-semibold.whitespace-nowrap
            = "Explore best matches"
          .mdi.mdi-arrow-right-circle-outline.text-2xl.font-semibold
  .grid.grid-cols-1.sm:grid-cols-1.md:grid-cols-2.lg:grid-cols-2.xl:grid-cols-3.gap-4
    - recommended_products.each do |product|
      .col-span-1.sm:col-span-2.md:col-span-1.lg:col-span-1.xl:col-span-1
        = product_card(product)
