.flex.flex-col
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-primary-50 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-primary-100 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-primary-200 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-primary-300 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-primary-400 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-primary-500 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-primary-600 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-primary-700 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-primary-800 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"
    %div{class: "flex text-base uppercase h-12 font-semibold whitespace-nowrap text-center text-white bg-primary-900 leading-tight" }
        = link_to "test", root_path, class: "w-full h-full inline-flex items-center justify-center px-5 py-1"