%div.w-full.flex.justify-center.items-center.full-page-background{class: "rounded-b-[5%] h-[100vh]"}
  %div.w-full.flex.flex-col.justify-center.items-center{class:"md:justify-start text-left max-w-[80%] md:items-start"}
    %div{class:"md:max-w-[60%]"}
      .text-5xl.font-semibold.text-white
        = "Explore the best of our community"
      .text-md.text-white.font-semibold
        = "Create your profile and start contributing to our community. We make sure to recommend only products that match your preferences and that are approved by our community."
    .flex.flex-col.items-center.space-y-4.mt-4{class: "md:flex-row md:space-x-4 md:space-y-0"}
      %button.text-black.p-2.rounded-lg{class: "bg-white/55 hover:bg-primary-800/75 hover:text-white"}
        = link_to dietary_preferences_user_profile_path do
          .flex.flex-row.items-center.justify-center.space-x-2
            .text-base.font-semibold
              = "Customize your preferences"
            .mdi.mdi-arrow-right-circle-outline.text-2xl
      %button.text-black.p-2.rounded-lg{class: "bg-white/55 hover:bg-primary-800/75 hover:text-white"}
        = link_to create_product_user_products_path do
          .flex.flex-row.items-center.justify-center.space-x-2
            .text-base.font-semibold
              = "Contribute to products"
            .mdi.mdi-arrow-right-circle-outline.text-2xl
      %button.text-black.p-2.rounded-lg{class: "bg-white/55 hover:bg-primary-800/75 hover:text-white"}
        = link_to user_products_path do
          .flex.flex-row.items-center.justify-center.space-x-2
            .text-base.font-semibold
              = "Select your favorite products"
            .mdi.mdi-arrow-right-circle-outline.text-2xl

.flex.flex-col.justify-center.items-center.mt-4.w-full.space-y-8
  .rounded-lg.bg-primary-400.p-4.shadow.flex.flex-col.justify-center.items-center.w-full{class: "md:max-w-[85%] md:flex-row"}
    .flex.flex-col.justify-center.items-center.text-white.space-y-2{class: "md:max-w-[20%] p-4"}
      .text-2xl.font-semibold
        = "Our best rated products"
      .text-sm.text-base.text-left
        = "Explore the products that our community loves the most. We also make sure to recommend only products that match your preferences."
      %button.text-white.text-left.w-full
        = link_to user_products_path do
          .flex.flex-row.space-x-2.items-center
            .text-base.font-semibold.whitespace-nowrap
              = "Explore all products"
            .mdi.mdi-arrow-right-circle-outline.text-2xl.font-semibold
    .grid.grid-cols-1.sm:grid-cols-1.md:grid-cols-2.lg:grid-cols-2.xl:grid-cols-3.gap-4
      - @top_products.each do |product|
        .col-span-1.sm:col-span-2.md:col-span-1.lg:col-span-1.xl:col-span-1
          = product_card(product)
  .rounded-lg.bg-white.p-4.shadow.flex.flex-row.justify-center.items-center.w-full{class: "md:max-w-[85%]"}
    .flex.flex-col.justify-center.items-center.text-left.w-full
      .text-5xl.font-semibold
        = Post.count
      .text-l.text-slate-700
        = "Hub Posts shared by our community"
    .flex.flex-col.justify-center.items-center.text-center.w-full
      .text-5xl.font-semibold
        = Product.count
      .text-l.text-slate-700
        = "Products approved by our community"
    .flex.flex-col.justify-center.items-center.text-right.w-full
      .text-5xl.font-semibold
        = Review.count
      .text-l.text-slate-700
        = "Reviews added by our community"
  .rounded-lg.bg-primary-400.p-4.shadow.flex.flex-col.justify-center.items-center.w-full{class: "md:max-w-[85%] md:flex-row"}
    .flex.flex-col.justify-center.items-center.text-white.space-y-2{class: "md:max-w-[20%] p-4"}
      .text-2xl.font-semibold
        = "Our most popular subjects"
      .text-sm.text-base.text-left
        = "Explore the top subjects that our community is talking about"
      %button.text-white.text-left.w-full
        = link_to user_hub_for_you_path do
          .flex.flex-row.space-x-2.items-center
            .text-base.font-semibold.whitespace-nowrap
              = "Explore all posts"
            .mdi.mdi-arrow-right-circle-outline.text-2xl.font-semibold

    .grid.grid-cols-1.sm:grid-cols-1.md:grid-cols-2.lg:grid-cols-2.xl:grid-cols-3.gap-4
      - @top_posts.each do |post|
        .col-span-1.sm:col-span-2.md:col-span-1.lg:col-span-1.xl:col-span-1
          .flex.flex-col.justify-center.items-center.bg-white.p-4.rounded-lg.shadow.h-full{class: "max-w-[22rem]"}
            .flex.flex-col.justify-center.items-center.space-y-2
              .text-xl.font-semibold
                = post[:title]
              .text-sm.text-slate-700.text-left
                = post[:content].truncate(100)
            .h-full
            %hr.border-1.border-gray-400.rounded-lg.mt-2.w-full
            .flex.flex-row.items-center.justify-center.w-full.mt-2
              .flex.flex-row.items-center.space-x-4.w-full.text-slate-700.text-left
                .mdi.mdi-thumb-up-outline.text-lg
                  = post[:up_number]
                .mdi.mdi-thumb-down-outline.text-lg
                  = post[:down_number]
                .mdi.mdi-comment-outline.text-lg
                  = post[:replies_number]
              = link_to user_hub_post_path(post[:_id]), class: "flex items-center text-primary-500 text-right" do
                .mdi.mdi-arrow-right-circle-outline.text-3xl
  .rounded-lg.bg-white.p-4.shadow.flex.flex-row.justify-center.items-center.w-full{class: "md:max-w-[85%]"}
    .flex.flex-col.justify-center.text-left.w-full
      .text-xs.text-slate-700.mb-2
        = "Random recipe of the moment"
      .text-xl.font-semibold.flex.flex-row.justify-between.items-center
        = @food_fact.title
        .mdi.mdi-clock-check-outline.text-base.text-slate-700
          = @food_fact.ready_in.to_s + " minutes"
      - if @food_fact.instructions.length > 300
        .instructions-short.text-slate-700
          = sanitize(@food_fact.instructions.first(300)) + "..."
        .instructions-full.text-slate-700.hidden
          = sanitize(@food_fact.instructions)
        %button#show-more Show More
      - else
        .text-slate-700
          = sanitize(@food_fact.instructions)
  #recommended_products_container.flex.flex-col.justify-center.items-center.w-full
  
:javascript
  $(document).ready(function() {
    $.ajax({
      url: '/recommended-products',
      type: 'GET',
      success: function(response) {
        if (response) {
          $('#recommended_products_container').html(response);
        }
      }
    });

    document.querySelector('#show-more').addEventListener('click', function() {
      var shortText = document.querySelector('.instructions-short');
      var fullText = document.querySelector('.instructions-full');
      if (fullText.classList.contains('hidden')) {
        fullText.classList.remove('hidden');
        shortText.classList.add('hidden');
        this.textContent = 'Show Less';
      } else {
        fullText.classList.add('hidden');
        shortText.classList.remove('hidden');
        this.textContent = 'Show More';
      }
    });
  });