.flex.flex-col.justify-center.items-center{ class: "h-full w-full" }
  .flex.flex-col.justify-center.items-center{ class: "w-8/12" }
    = controlled_form '/login', id: "login-form",  method: :post do
      .flex.flex-col.justify-center.items-start.shadow-xl.rounded-md.p-4.border-1.bg-white
        .flex.flex-col.justify-center.items-center.text-xl.font-bold.mb-4.w-full
          = "Login to your account"
        %label{for: "user"}
          = "Username"
        %input{type: "text", name: "user", id: "user", required: true, class: "rounded-md p-2 w-full"}

        %label{for: "password"}
          = "Password"
        %input{type: "password", name: "password", id: "password", required: true, class: "rounded-md p-2 w-full"}
        .flex.flex-row.justify-between.items-center.mt-4
          %button{type: "submit", class: "bg-primary-500 text-white rounded-md p-2"}
            = "Login"