%dialog#my_modal_1.modal
  .modal-box{ class: "!bg-white" }
    %form{method: "dialog"}
      %button.btn.btn-sm.btn-circle.btn-ghost.absolute.right-2.top-2 ✕
    .flex.flex-col.justify-center.items-center.space-y-4.mt-4
      .text-semibold.text-lg.text-black
        = "Select the quantity that you consumed"
        %span{ class: "!font-bold" }
          = "today"
      .flex.flex-row.items-center.justify-center.space-x-1
        %input{type: "number", placeholder: "Quantity", class: "p-2 rounded-lg", min: 1, id: "quantity"}
        %span
          = "g"
      .modal-action
        %form.hidden#remove-diary-form{method: "dialog"}
          = link_to user_diaries_path, method: :put, class: "btn !bg-red-500 !text-white !border-none", id: "remove-diary-button" do
            Remove
        %form.hidden#change-diary-form{method: "dialog"}
          = link_to user_diaries_path, method: :put, class: "btn !bg-primary-500 !text-white !border-none", id: "change-diary-button" do
            Change
        %form.hidden#cancel-diary-form{method: "dialog"}
          %button.btn{ class: "!bg-red-500 !text-white !border-none", type: "submit" }
            Cancel
        %form.hidden#add-diary-form{method: "dialog"}
          = link_to user_diaries_path, method: :post, class: "btn !bg-primary-500 !text-white !border-none", id: "add-diary-button" do
            Add

:javascript
  $(document).ready(function() {
    $('#change-diary-button').on('click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      var quantity = $('#quantity').val();
      var href = $(this).attr('href') + '&quantity=' + quantity;
      $.ajax({
        type: "PUT",
        url: href,
        success: function(response) {
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
      document.getElementById('my_modal_1').close();
    });

    $('#remove-diary-button').on('click', function(e) {
      href = $(this).attr('href');
      var queryString = href.split('?')[1];

      var productId = new URLSearchParams(queryString).get('product_id');
      $('#diary-icon-' + productId).removeClass('mdi-check').addClass('mdi-plus');
      document.getElementById('my_modal_1').close();
    });

        $('#add-diary-button').on('click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      var quantity = $('#quantity').val();
      var href = $(this).attr('href') + '&quantity=' + quantity;
      $.ajax({
        type: "POST",
        url: href,
        success: function(response) {
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
      var queryString = href.split('?')[1];

      var productId = new URLSearchParams(queryString).get('product_id');
      $('#diary-icon-' + productId).removeClass('mdi-plus').addClass('mdi-check');
      document.getElementById('my_modal_1').close();
    });
  });

  $(document).on('click', '[id^="diary-icon"]', function() {
    $('#quantity').val('');
    const diaryId = this.id;
    const productId = this.id.replace('diary-icon-', '');
    $('#remove-diary-form').addClass('hidden');
    $('#change-diary-form').addClass('hidden');
    $('#add-diary-form').addClass('hidden');
    $('#cancel-diary-form').addClass('hidden');
    if ($("#" + diaryId).hasClass('mdi-check')) {
      $('#remove-diary-button').attr('href', 'diaries/remove_from_user_diary?product_id=' + productId + '&date=' + "#{Date.today}");
      $('#remove-diary-form').removeClass('hidden');
      $('#change-diary-form').removeClass('hidden');
      $('#change-diary-button').attr('href', 'diaries/modify_user_diary?product_id=' + productId + '&date=' + "#{Date.today}");
      return;
    }

    $('#add-diary-button').attr('href', 'diaries/add_to_user_diary?product_id=' + productId + '&date=' + "#{Date.today}");
    $('#add-diary-form').removeClass('hidden');
    $('#cancel-diary-form').removeClass('hidden');
  });