.flex.flex-col.justify-center.items-center.w-full.space-y-4.mt-4
  .text-2xl.font-bold.mb-6.p-2.text-center.rounded-lg.bg-clip-border.text-gray-700.shadow-md{ class: "backdrop-blur-[2px]"}
    = "Diary"
  %button{ class: "rounded-lg p-2 bg-primary-500 text-white flex items-center gap-1", onclick: "plot_modal.showModal()"}
    %span.mdi.mdi-chart-areaspline.text-xl
    %span
      Last 30 days
  .flex.justify-center.items-center.mt-4.rounded-lg.bg-white.p-2.shadow-md
    = link_to user_diaries_path(date: @date.prev_day), class: "text-lg font-bold mr-2 text-primary-500" do
      %i.mdi.mdi-chevron-left{title: "Previous Page"}
    .text-lg.font-bold.mr-2.text-white.bg-primary-500.p-1.rounded-lg.shadow-md
      = smart_date(@date)
    = link_to user_diaries_path(date: @date.next_day), class: "text-lg font-bold text-primary-500" do
      %i.mdi.mdi-chevron-right{title: "Previous Page"}
  - if @products.present?
    .rounded-lg.bg-white.p-4.shadow-md.text-center.text-xl.font-semibold.flex.flex-row.items-center.justify-center.space-x-8
      .flex.flex-col.items-center.justify-center
        .text-xl.font-semibold
          = "Calories"
        .radial-progress{ class: "!bg-slate-200 text-success", role: "progressbar", style: "--value:#{(@total_calories / 2000 * 100).round(0)}; --size:10rem;" }
          .flex.flex-col.items-center.text-2xl.text-slate-700.text-semibold
            .mdi.mdi-fire.text-4xl
            = "#{@total_calories.round(2)}"
      .flex.flex-col.items-center.justify-center
        .text-xl.font-semibold
          = "Proteins"
        .radial-progress{ class: "!bg-slate-200 text-success", role: "progressbar", style: "--value:#{(@total_proteins / 150 * 100).round(0)}; --size:10rem;" }
          .flex.flex-col.items-center.text-2xl.text-slate-700.text-semibold
            .mdi.mdi-food-drumstick.text-4xl
            = "#{@total_proteins.round(2)}"
      .flex.flex-col.items-center.justify-center
        .text-xl.font-semibold
          = "Carbohydrates"
        .radial-progress{ class: "!bg-slate-200 text-success", role: "progressbar", style: "--value:#{(@total_carbs / 150 * 100).round(0)}; --size:10rem;" }
          .flex.flex-col.items-center.text-2xl.text-slate-700.text-semibold
            .mdi.mdi-barley.text-4xl
            = "#{@total_carbs.round(2)}"
      .flex.flex-col.items-center.justify-center
        .text-xl.font-semibold
          = "Fats"
        .radial-progress{ class: "!bg-slate-200 text-success", role: "progressbar", style: "--value:#{(@total_fats / 150 * 100).round(0)}; --size:10rem;" }
          .flex.flex-col.items-center.text-2xl.text-slate-700.text-semibold
            .mdi.mdi-water.text-4xl
            = "#{@total_fats.round(2)}"
    .grid.grid-cols-1.sm:grid-cols-1.md:grid-cols-2.lg:grid-cols-2.xl:grid-cols-3.gap-4
      - @products.each do |product|
        .col-span-1.sm:col-span-2.md:col-span-1.lg:col-span-1.xl:col-span-1
          = diary_card(product, @diary_products.find { |dp| dp['product_id'].to_s == product.id.to_s })
  - else
    .text-2xl.font-bold.mb-6.p-2.text-center.rounded-lg.bg-clip-border.text-gray-700.shadow-md{ class: "backdrop-blur-[2px] max-w-[60%]"}
      = "No products found in your diary. You can add products to your diary by clicking on the plus icon from the product card."

  %br
= render "partials/diary_modal"

%b

%dialog#plot_modal.modal.text-white
  .modal-box.bg-white.text-black
    #chart-section.h-64
      = react_component("dietary_chart", {data: @data})

    .modal-action
      %button{onclick: "plot_modal.close()"}
        Close