.container.mx-auto.max-w-xl.px-4
  = controlled_form "/profile/settings/account", method: :put, class: "size-full" do
    .flex.flex-col.justify-between.size-full
      .grid.gap-4{class:"md:grid-cols-2"}
        %div
          %label.text-sm{for: "email"}
            = "Email"
          %input{type: "email", name: "email", id: "email", class: "rounded-lg p-2 w-full disabled:bg-gray-200", value: "#{@login.email}", disabled: true}
        %div
          %label.text-sm{for: "username"}
            = "Username"
          %input{type: "text", name: "username", id: "username", class: "rounded-lg p-2 w-full disabled:bg-gray-200", value: "#{@login.username}", disabled: true}
        %div{ class: "md:col-span-2 grid md:grid-cols-2 gap-4" }
          %div
            %label.text-sm{for: "password"}
              = "New Password"
            %input{type: "password", name: "password", id: "password", class: "rounded-lg p-2 w-full"}
          %div
            %label.text-sm{for: "password_confirmation"}
              = "Confirm Password"
            %input{type: "password", name: "password_confirmation", id: "password_confirmation", class: "rounded-lg p-2 w-full"}
      .flex.flex-row.justify-end.items-center.mt-4.space-x-4
        %button{ class: "bg-primary-500 text-white rounded-lg p-2 mt-4 w-fit", type: "submit" }
          = "Save Changes"
