.mx-auto.px-8.max-w-5xl
  .size-full.flex.flex-col.justify-center.gap-4
    %div
      .text-2xl.font-bold
        = 'Profile Settings'
      .text-gray-500
        = 'Change your profile and account settings.'
    .shadow-lg.bg-white.rounded-lg.flex.flex-col.space-y-4.p-4{ class: "md:flex-row md:space-x-8 md:space-y-0" }
      .flex.justify-between.flex-col
        .tabs.flex.gap-4.flex-row{ class: "md:flex-col max-[600px]:overflow-x-auto" }
          %button{ class: "tab flex flex-row items-center focus:outline-none", data: { tab: "profile" } }
            .mdi.mdi-account-outline.text-2xl
            %span= 'Profile'
          %button{ class: "tab flex flex-row items-center focus:outline-none", data: { tab: "account" } }
            .mdi.mdi-lock-outline.text-2xl
            %span= 'Account'
          %button{ class: "tab flex flex-row items-center focus:outline-none", data: { tab: "preferences" } }
            .mdi.mdi-food-outline.text-2xl
            %span= 'Preferences'
        %div
          = link_to "/logout", method: :post, class: "flex flex-row items-center" do
            %i.mdi.mdi-logout-variant.text-2xl
            %span Logout
      %div{ class: "md:hidden bg-gray-200 h-px w-full my-2" }
      %div{ class: "hidden md:block md:bg-gray-200 md:w-px md:h-full md:my-2" }
      = form_tag user_profile_path, method: :put, class: "w-full", id: "profile-form" do
        .tab-content.flex.flex-col.justify-between.items-center.flex-1
          .profile.flex-col.flex.space-y-4{ class: "size-2/3"}
            %div
              .text-2xl.font-semibold
                = current_user.first_name
                = current_user.last_name
              .text-gray-500.text-sm
                = "#{current_user.city}, #{current_user.country}"
            .grid.gap-4{class:"md:grid-cols-2"}
              %div
                %label.text-sm{for: "name"}
                  = "First Name"
                %input{type: "text", name: "profile[first_name]", id: "first_name", class: "rounded-lg p-2 w-full", value: "#{current_user.first_name}"}
              %div
                %label.text-sm{for: "full_name"}
                  = "Last Name"
                %input{type: "text", name: "profile[last_name]", id: "last_name", class: "rounded-lg p-2 w-full", value: "#{current_user.last_name}"}
              %div
                %label.text-sm{for: "country"}
                  = "Country"
                %input{type: "text", name: "profile[country]", id: "country", class: "rounded-lg p-2 w-full", value: "#{current_user.country}"}
              %div
                %label.text-sm{for: "city"}
                  = "City"
                  %input{type: "text", name: "profile[city]", id: "city", class: "rounded-lg p-2 w-full", value: "#{current_user.city}"}
              %div
                %label.text-sm{for: "height"}
                  = "Height"
                %input{type: "text", name: "profile[height]", id: "height", class: "rounded-lg p-2 w-full", value: "#{current_user.height}"}
              %div
                %label.text-sm{for: "weight"}
                  = "Weight"
                %input{type: "text", name: "profile[weight]", id: "weight", class: "rounded-lg p-2 w-full", value: "#{current_user.weight}"}
            .flex.flex-row.justify-center.items-center.mt-4.space-x-4
              %button{ class: "bg-primary-500 text-white rounded-lg p-2 mt-4 w-fit", type: "submit" }
                = "Save Changes"
          .account.hidden.flex-col.flex.space-y-4{ class: "size-2/3" }
            %div
              .text-2xl.font-semibold
                = current_user.first_name
                = current_user.last_name
              .text-gray-500.text-sm
                = "#{current_user.city}, #{current_user.country}"
            .grid.gap-4{class:"md:grid-cols-2"}
              %div
                %label.text-sm{for: "email"}
                  = "Email"
                %input{type: "email", name: "login[email]", id: "email", class: "rounded-lg p-2 w-full disabled:bg-gray-200", value: "#{@login.email}", disabled: true}
              %div
                %label.text-sm{for: "username"}
                  = "Username"
                %input{type: "text", name: "login[username]", id: "username", class: "rounded-lg p-2 w-full disabled:bg-gray-200", value: "#{@login.username}", disabled: true}
              %div{ class: "md:col-span-2 grid md:grid-cols-2 gap-4" }
                %div
                  %label.text-sm{for: "password"}
                    = "New Password"
                  %input{type: "password", name: "login[password]", id: "password", class: "rounded-lg p-2 w-full"}
                %div
                  %label.text-sm{for: "password_confirmation"}
                    = "Confirm Password"
                  %input{type: "password", name: "login[password_confirmation]", id: "password_confirmation", class: "rounded-lg p-2 w-full"}
            .flex.flex-row.justify-center.items-center.mt-4.space-x-4
              %button{ class: "bg-primary-500 text-white rounded-lg p-2 mt-4 w-fit", type: "submit" }
                = "Save Changes"
          .preferences.hidden.flex.flex-col.space-y-6{ class: "w-full md:w-2/3 lg:w-1/2" }
            .text-lg.font-semibold.text-gray-900
              = "Dietary Preferences"
            %div{ class: "space-y-4" }
              = select_tag "profile[dietary_preferences]", options_for_select(@dietary_preferences, current_user.dietary_preferences), class: "form-select w-full"
            .flex.flex-col.space-y-4
              .flex.flex-col
                .text-lg.font-semibold
                  = "Allergens"
                .flex.flex-row.items-center.justify-start.space-x-4
                  = text_field_tag 'user_name', nil, class: 'user-autocomplete rounded-lg p-2 w-full', placeholder: 'Add allergens'
              #allergens-anchor{ class: "grid gap-2 w-full md:grid-cols-3" }
                - current_user.allergens.each do |allergen|
                  .flex.flex-row.items-center.justify-start.space-x-2{ id: "allergen-#{allergen.gsub(/\s+/, '-')}" }
                    = hidden_field_tag "profile[allergens][]", allergen, id: "input-#{allergen.gsub(/\s+/, '-')}"
                    = allergen
                    %button.remove-allergen{ type: "button", id: "remove-allergen-#{allergen.gsub(/\s+/, '-')}", class: "text-primary-500" }
                      %i.mdi.mdi-close-circle-outline.text-2xl
            %div.flex.flex-row.justify-center.items-center.mt-4.space-x-4
              %button{ class: "bg-primary-500 text-white rounded-lg p-2 mt-4 w-fit", type: "submit" }
                = "Save Changes"
:javascript
  $(document).ready(function() {
      const tabs = document.querySelectorAll('.tab');
      const contents = document.querySelectorAll('.tab-content > div');

      function clearSelection() {
          tabs.forEach(tab => {
              tab.classList.remove('text-primary-500', 'font-bold');
              tab.children[0].classList.remove('text-primary-500');
          });
          contents.forEach(content => {
              content.classList.add('hidden');
          });
      }

      tabs.forEach(tab => {
          tab.addEventListener('click', () => {
              clearSelection();

              tab.classList.add('text-primary-500', 'font-bold');
              tab.children[0].classList.add('text-primary-500');

              const targetClass = tab.dataset.tab;
              const targetContent = document.querySelector('.' + targetClass);
              targetContent.classList.remove('hidden');

              sessionStorage.setItem('activeTab', targetClass);
          });
      });

      const activeTab = sessionStorage.getItem('activeTab');
      if(activeTab) {
          document.querySelector(`.tab[data-tab="${activeTab}"]`).click();
      } else {
          document.querySelector('.tab[data-tab="profile"]').click();
      }

      $('.user-autocomplete').autocomplete({
        source: '/allergens/search',
        select: function(event, ui) {
          const allergen = ui.item.value;
          if (allergen && !$('#allergen-' + allergen.replace(/\s+/g, '-')).length) {
            $('#allergens-anchor').append(`
              <div class="flex flex-row items-center justify-start space-x-2" id="allergen-${allergen.replace(/\s+/g, '-')}">
                <input type="hidden" name="profile[allergens][]" value="${allergen.replace(/\s+/g, '-')}">
                <span class="text-md">${allergen}</span>
                <button type="button" class="text-primary-500 remove-allergen" id="remove-allergen-${allergen.replace(/\s+/g, '-')}">
                  <i class="mdi mdi-close-circle-outline text-2xl"></i>
                </button>
              </div>
            `);
          }
          else if (allergen) {
            ErrorNotifier.get.show("Allergen already added", timeout=4000)
          }
          $('.user-autocomplete').val('');
          return false;
        },
        minLength: 2,
        delay: 500,
        autoFocus: true
      });

    $(document).on('click', '[id^="remove-allergen-"]', function() {
      const allergen = this.id.replace('remove-allergen-', '');
      $(`#allergen-${allergen.replace(/\s+/g, '-')}`).remove();
    });
  });