- links = [{ icon: "home-outline", label: "home", path: user_root_path },
           { icon: "forum-outline", label: "hub", path: "/hub" }]

- content_for :head do
  = stylesheet_link_tag "layout/header"

%header.bg-primary-500.p-4.text-white.sm:block
  %nav.container.mx-auto.h-8.px-2.flex.justify-center.items-center.gap-10
    %h1.text-lg.uppercase.font-bold
      Ce mancam?
    .hidden.sm:block.flex-1.rounded-full.text-black.text-sm
      = text_field_tag :search, nil, class: "search-autocomplete w-full p-2 rounded-lg", placeholder: "Search for a food item", type: "text"
    
    %ul.hidden.sm:flex.items-center.gap-4
      - links.each do |link|
        %li
          = link_to link[:path], class: "flex items-center gap-1" do
            %i.mdi.text-2xl{ class: "mdi-#{link[:icon]}" }

            %span.hidden.text-sm.capitalize.lg:inline-block
              = link[:label]
    #profile-section.hidden.sm:flex.items-center.h-full.gap-4.relative
      %i.mdi.mdi-bell-outline.text-2xl
      = link_to "/profile", id: 'profile-path' do
        %i.mdi.mdi-account-circle-outline.text-2xl
      = render "partials/layout/header/dropdown"

:javascript
  $(document).ready(function() {
    var updateLink = function() {
      var profileLink = document.getElementById("profile-path");
      if (window.innerWidth < 768) {
        profileLink.setAttribute('href', "#{user_profile_path}");
      } else {
        profileLink.setAttribute('href', "#{user_user_profile_path}");
      }
    };

    updateLink();

    window.addEventListener('resize', updateLink);

    $('.search-autocomplete').autocomplete({
      source: '/products/search',
      minLength: 2,
      delay: 500,
      autoFocus: true
    });

    $('.search-autocomplete').on('autocompleteselect', function(event, ui) {
      event.preventDefault();
      window.location.href = "/products/" + ui.item.value.$oid;
    });

  });
