- links = [{ icon: "home-outline", label: "home", path: user_root_path },
           { icon: "forum-outline", label: "hub", path: "/hub" },
           { icon: "cart-outline", label: "Basket", path: user_basket_path }]

- content_for :head do
  = stylesheet_link_tag "layout/header"

%header.bg-primary-500.p-4.text-white.sm:block.z-50
  %nav.container.mx-auto.h-8.px-2.flex.justify-center.items-center.gap-10
    = link_to '/' do
      %h1.text-2xl.font-bold.select-none
        FAP
    .hidden.sm:block.flex-1.rounded-full.text-black.text-sm
      = text_field_tag :search, nil, class: "search-autocomplete w-full p-2 rounded-lg", placeholder: "Search for a food item", type: "text"

    %ul.hidden.sm:flex.items-center.gap-4
      - links.each do |link|
        %li
          = link_to link[:path], class: "flex items-center gap-1" do
            %i.mdi.text-2xl{ class: "mdi-#{link[:icon]}" }

            %span.hidden.text-sm.capitalize.lg:inline-block
              = link[:label]
    #profile-section.hidden.sm:flex.items-center.h-full.gap-4.relative
      - if current_user.present?
        %span#notifications-section
          = link_to notifications_user_profile_path do
            %i.mdi.mdi-bell-outline.text-2xl
          = render "partials/layout/header/notifications_dropdown"
      %span#settings-section
        = link_to user_profile_path, id: 'profile-path' do
          - if current_user.present? and current_user.profile_picture.present?
            %img.w-8.h-8.rounded-full{ src: current_user.profile_picture_url }
          - else
            %i.mdi.mdi-account-circle-outline.text-2xl
        = render "partials/layout/header/profile_dropdown"

:javascript
  $(document).ready(function() {
    var updateLink = function() {
      var profileLink = document.getElementById("profile-path");
      if (window.innerWidth < 768) {
        profileLink.setAttribute('href', "#{user_profile_path}");
      } else {
        profileLink.setAttribute('href', "#{user_user_profile_path}");
      }
    };

    updateLink();

    window.addEventListener('resize', updateLink);

    $('.search-autocomplete').autocomplete({
      source: '/products/search',
      minLength: 2,
      delay: 500,
      autoFocus: true,
      focus: function(event, ui) {
        event.preventDefault();
      },
      select: function(event, ui) {
        event.preventDefault();
        window.location.href = ui.item.value;
        $(this).val(ui.item.label);
      }
    });


  });
