.flex.flex-col.items-center.justify-center.space-y-4.mt-4
  .text-2xl.font-bold.rounded-lg.p-4.shadow-md{ class: "backdrop-blur-[2px]" }
    = "Your Favorite Products"
  .grid.grid-cols-1.gap-4{class: "md:grid-cols-2 lg:grid-cols-3"}
    - @basket_products.each do |product|
      = product_card(product)
  - if @basket_products.empty?
    .text-center.text-2xl.font-semibold.rounded-lg.bg-white.p-4.shadow-md.w-full{ class:"sm:w-1/2" }
      = "No products found in your favorites list. You can add products to your favorites list by clicking on the heart icon from the product card."
  - else
    .flex.flex-wrap.items-center.justify-center.rounded-lg.bg-white.py-2.px-4.my-4
      - if params[:favorites_page].to_i > 1
        = link_to user_basket_path(favorites_page: 1), class: "mx-1 px-2 py-1 text-sm text-primary-500 hover:bg-primary-100 rounded" do
          %i.mdi.mdi-chevron-double-left{title: "First Page"}

      - if params[:favorites_page].to_i > 1
        = link_to user_basket_path(favorites_page: params[:favorites_page].to_i - 1), class: "mx-1 px-2 py-1 text-sm text-primary-500 hover:bg-primary-100 rounded" do
          %i.mdi.mdi-chevron-left{title: "Previous Page"}

      - start_page = [params[:favorites_page].to_i - 2, 1].max
      - end_page = [start_page + 4, @basket_total_pages].min

      - start_page.upto(end_page) do |page|
        - if page == params[:favorites_page].to_i
          %span.mx-1.px-2.py-1.text-sm.font-semibold.text-white.bg-primary-500.rounded= page
        - else
          = link_to user_basket_path(favorites_page: page), class: "mx-1 px-2 py-1 text-sm text-primary-500 hover:bg-primary-100 rounded" do
            = page

      - if params[:page].to_i < @basket_total_pages
        = link_to user_basket_path(favorites_page: params[:page].to_i + 1), class: "mx-1 px-2 py-1 text-sm text-primary-500 hover:bg-primary-100 rounded" do
          %i.mdi.mdi-chevron-right{title: "Next Page"}

      - if params[:page].to_i < @basket_total_pages
        = link_to user_basket_path(favorites_page: @basket_total_pages), class: "mx-1 px-2 py-1 text-sm text-primary-500 hover:bg-primary-100 rounded" do
          %i.mdi.mdi-chevron-double-right{title: "Last Page"}
  - if @products.present?
    .text-2xl.font-bold.rounded-lg.p-4.shadow-md{ class: "backdrop-blur-[2px]" }
      = "Our Recommendations for you"
    .grid.grid-cols-1.gap-4{class: "md:grid-cols-2 lg:grid-cols-3"}
      - @products.each do |product|
        = product_card(product)
= render "partials/diary_modal"

%br
:javascript
  $(document).on('click', '[id^="heart-icon"]', function() {
    const heartId = this.id;
    const productId = this.id.replace('heart-icon-', '');
    if ($("#" + heartId).hasClass('mdi-heart')) {
      $.ajax({
        url: 'products/' + productId + '/remove_from_favorites',
        type: 'PATCH',
        success: function(response) {
          $("#" + heartId).removeClass('mdi-heart').addClass('mdi-heart-outline');
        },
        error: function(response) {
          $("#" + heartId).removeClass('mdi-heart-outline').addClass('mdi-heart');
        }
      });
      return;
    }
    
    $.ajax({
      url: 'products/' + productId + '/add_to_favorites',
      type: 'PATCH',
      success: function(response) {
        $("#" + heartId).removeClass('mdi-heart-outline').addClass('mdi-heart');
      },
      error: function(response) {
        $("#" + heartId).removeClass('mdi-heart').addClass('mdi-heart-outline');
      }
    });
  });
