.flex.flex-col.justify-center.items-center.w-full
	.flex.flex-col.justify-center.items-center.place-self-center.w-full
		%h1.text-3xl.font-semibold.mt-10.overflow-hidden.text-ellipsis.whitespace-nowrap
			= "#{@product.name}"
		%h1.text-xl.font-semibold.mb-8.overflow-hidden.text-ellipsis.whitespace-nowrap
			= "(#{@product.brand} - #{@product.weight})"

	%div.w-full{ class: "md:w-1/2" }
		.flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.mb-2
			%div{ class: "p-2 font-semibold"}= "Price"
			%div{ class: "p-2 text-slate-700"}= @product.price
		.flex.flex-row.rounded-lg.p-2.justify-between.items-center{ class: "bg-slate-50" }
			.flex.flex-row.items-center
				- if @allergens_mismatch.present?
					.i.mdi.mdi-alert-circle.text-2xl.text-red-500
				.p-2.font-semibold= "Allergens"
			- if @product_allergens.present?
				%div{ class: "p-2 text-slate-700"}
					= @product_allergens.map { |allergen| allergen.name }.join(", ")
			- else
				%div{ class: "p-2 text-slate-700"}= "None"
		.text-red-500.text-sm.mb-4.text-right.mb-2.font-semibold
			= @product_matching_allergens.map(&:name).join(", ")	
		.flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.mb-2
			.flex.flex-row.items-center
				- if @product.calories != (@matching_product.calories || 0)
					.i.mdi.mdi-alert-circle.text-2xl.text-red-500
				%div{ class: "p-2 font-semibold"}= "Calories"
			%div{ class: "p-2 text-slate-700 flex flex-row items-center space-x-1"}
				%span
					= @product.calories
				.text-red-500.font-semibold
					(#{@matching_product.calories})
		.grid.gap-4.w-full.mt-4{ class: "md:grid-cols-2" }
			.flex.flex-col.rounded-lg.space-y-2.w-full
				- User::ProductsController::FATS.each do |fat_type|
					.flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.w-full
						.flex.flex-row.items-center
							- if @product.send(fat_type) != (@matching_product.send(fat_type) || 0)
								.i.mdi.mdi-alert-circle.text-2xl.text-red-500
							%div{ class: "p-2 font-semibold"}= "#{fat_type.to_s.humanize}"
						%div{ class: "p-2 text-slate-700 flex flex-row items-center space-x-1"}
							%span
								= @product.send(fat_type) || 0 
							.text-red-500.font-semibold
								(#{@matching_product.send(fat_type) || 0})
			.flex.flex-col.rounded-lg.space-y-2.w-full
				- User::ProductsController::CARBOHYDRATES.each do |carb|
					.flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.w-full
						.flex.flex-row.items-center
							- if @product.send(carb) != (@matching_product.send(carb) || 0)
								.i.mdi.mdi-alert-circle.text-2xl.text-red-500
							%div{ class: "p-2 font-semibold"}= "#{carb.to_s.humanize}"
						%div{ class: "p-2 text-slate-700 flex flex-row items-center space-x-1"}
							%span
								= @product.send(carb) || 0
							.text-red-500.font-semibold
								(#{@matching_product.send(carb) || 0})
		.grid.gap-4.w-full.mt-4{ class: "md:grid-cols-2" }
			.flex.flex-col.rounded-lg.space-y-2.w-full
				- User::ProductsController::ESSENTIAL_NUTRIENTS.each do |nutrient|
					.flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.w-full
						.flex.flex-row.items-center
							- if @product.send(nutrient) != (@matching_product.send(nutrient) || 0)
								.i.mdi.mdi-alert-circle.text-2xl.text-red-500
							%div{ class: "p-2 font-semibold"}= "#{nutrient.to_s.humanize}"
						%div{ class: "p-2 text-slate-700 flex flex-row items-center space-x-1"}
							%span
								= @product.send(nutrient) || 0
							.text-red-500.font-semibold
								(#{@matching_product.send(nutrient) || 0})
			.flex.flex-col.rounded-lg.space-y-2.w-full
				- User::ProductsController::VITAMINS_MINERALS.each do |vitamin_mineral|
					.flex.flex-row.rounded-lg.bg-slate-50.p-2.justify-between.items-center.w-full
						.flex.flex-row.items-center
							- if @product.send(vitamin_mineral) != (@matching_product.send(vitamin_mineral) || 0)
								.i.mdi.mdi-alert-circle.text-2xl.text-red-500
							%div{ class: "p-2 font-semibold"}= "#{vitamin_mineral.to_s.humanize}"
						%div{ class: "p-2 text-slate-700 flex flex-row items-center space-x-1"}
							%span
								= @product.send(vitamin_mineral) || 0
							.text-red-500.font-semibold
								(#{@matching_product.send(vitamin_mineral) || 0})
		.grid.gap-4.w-full.mt-4.grid-cols.2
			.flex.flex-row.justify-center.items-center.w-full.mt-8.space-x-4
				%div.w-full.text-right
					= link_to 'Approve', approve_admin_product_path(@product), class: 'bg-primary-500 text-white py-2 px-4 rounded-lg', method: :put
				%div.w-full
					= link_to 'Reject', reject_admin_product_path(@product), class: 'bg-red-500 text-white py-2 px-4 rounded-lg', method: :put