.flex.flex-col.shadow-lg.rounded-lg.bg-white.px-3.py-6.gap-3.cursor-pointer.w-full{class: "hover:bg-slate-100", href: "/hub/posts/#{post.id}"}
  .flex-1.space-y-4
    %div.space-y-1
      %h3.text-lg
        = '@' + post.author.login.username
      %h1.text-xl
        = post.title_as_html
    %p
      = post.content_as_html
  .flex.justify-end.items-center.gap-4
    .flex.items-center.gap-1
      %span.mdi.mdi-comment-outline.text-2xl
      %span
        = post.responses.length
    .flex.items-center.gap-1
      %span.mdi.text-2xl{class: "mdi-arrow-up-bold-circle-outline hover:text-primary-500"}
      %span
        = post.ratings.ratio
      %span.mdi.mdi-arrow-down-bold-circle-outline.text-2xl
