%html
  %head
    %title Admin CeMancam
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
  = csrf_meta_tags
  = csp_meta_tag
  = javascript_pack_tag 'application'
  = stylesheet_link_tag "application", "data-turbo-track" => "reload"
  = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track" => "reload"
  = stylesheet_link_tag "notifier/hidden"
  %script{src: "https://code.jquery.com/jquery-3.6.0.min.js"}
  %script{src: "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"}
  %link{rel: "stylesheet", href: "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"}

  = yield :head

  %link{href: "https://cdn.materialdesignicons.com/7.4.47/css/materialdesignicons.min.css", rel: "stylesheet"}

  = javascript_importmap_tags

  %body.w-full.h-full.bg-slate-200.flex.flex-col
    = render "partials/notifier/success_notifier"
    = render "partials/notifier/error_notifier"

    %header.bg-primary-500.p-4.text-white
      %nav.container.mx-auto.h-8.flex.justify-between.items-center
        .font-bold.flex.flex-col.items-center
          %h1.text-lg.uppercase
            Ce mancam?
          .text-sm
            Admin
        - if current_login.present?
          .flex.flex-row.items-center.justify-center.gap-4
            = link_to admin_posts_path, class: "flex items-center gap-1" do
              %i.mdi.text-2xl{ class: "mdi-forum-outline" }
              %span.text-sm.capitalize
                Hub posts
            = link_to admin_submissions_path, class: "flex items-center gap-1" do
              %i.mdi.text-2xl{ class: "mdi-clipboard-list-outline" }
              %span.text-sm.capitalize
                Submissions
            = link_to admin_feedback_messages_path, class: "flex items-center gap-1" do
              %i.mdi.text-2xl{ class: "mdi-email-outline" }
              %span.text-sm.capitalize
                Feedback
            #profile-section.hidden.sm:flex.items-center.h-full.gap-4.relative
              %i.mdi.mdi-account-circle-outline.text-2xl
              .dropdown-menu.absolute.top-full.-right-5.p-4.hidden
                .w-64.py-4.bg-primary-500.flex.flex-col.duration-300.gap-4.rounded-b-lg
                  .flex.flex-row.justify-between.items-center.px-4.text-2xl
                    = current_login.username
                    = link_to '/logout', method: :post do
                      %i.mdi.mdi-logout-variant

    %main.flex-1.p-4
      = yield