%html
  %head
    %title LearnRails
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track" => "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track" => "reload"
    = stylesheet_link_tag "notifier/hidden"
    = javascript_include_tag "notifier/base_notifier"
    = javascript_include_tag "form/form_controller"
    = javascript_importmap_tags

  %body.w-screen.h-screen.bg-slate-200.flex.flex-col
    = render "partials/notifier/success_notifier"
    = render "partials/notifier/error_notifier"
    = render "partials/layout/header"
    %main.flex-1
      = yield
    = render "partials/layout/footer"
