%html
  %head
  %title CeMancam
  %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
  = csrf_meta_tags
  = csp_meta_tag
  = javascript_pack_tag 'application'
  = stylesheet_link_tag "application", "data-turbo-track" => "reload"
  = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track" => "reload"
  = stylesheet_link_tag "notifier/hidden"
  %script{src: "https://code.jquery.com/jquery-3.6.0.min.js"}
  %script{src: "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"}
  %script{src: "https://unpkg.com/@zxing/library@latest"}
  %link{rel: "stylesheet", href: "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"}

  = yield :head

  %link{href: "https://cdn.materialdesignicons.com/7.4.47/css/materialdesignicons.min.css", rel: "stylesheet"}

  = javascript_importmap_tags

  %body.w-screen.h-screen.flex.flex-col.overflow-hidden
    = render "partials/notifier/success_notifier"
    = render "partials/notifier/error_notifier"
    = render "partials/layout/header"
    %main.flex-1.overflow-y-auto.overflow-x-hidden.transition-all{class: "sm:transition-none"}
      = content_for?(:content) ? yield(:content) : yield
      .mt-24
        = render "partials/layout/footer"
    = render "partials/chat_bot"
    = render "partials/layout/mobile_nav"
