- links = [{ href: "/profile/settings/user", text: "Profile", icon: "account" },
           { href: "/profile/settings/account", text: "Account", icon: "lock" },
           { href: "/profile/settings/dietary_preferences", text: "Preferences", icon: "food" }]

- content_for :content do
  .mx-auto.px-8.max-w-5xl
    .size-full.flex.flex-col.justify-center.gap-4
      %div
        .text-2xl.font-bold
          = 'Profile Settings'
        .text-gray-500
          = 'Change your profile and account settings.'
      .shadow-lg.bg-white.rounded-lg.flex.p-4.h-96{ class: "flex-row space-x-8 space-y-0" }
        .flex.justify-between.flex-col.border-r.pr-4
          .tabs.flex.gap-4{ class: "flex-col max-[600px]:overflow-x-auto" }
            - links.each do |link|
              = link_to link[:href], class: "text-#{current_page?(link[:href]) ? 'primary-500' : 'black'}" do
                %button{ class: "tab flex flex-row items-center focus:outline-none" }
                  .mdi.text-2xl.mr-2{class: "mdi-#{link[:icon]}-outline"}
                  %span= link[:text]
          %div
            = link_to "/logout", method: :post, class: "flex flex-row items-center" do
              %i.mdi.mdi-logout-variant.text-2xl.mr-2
              %span Logout
        .size-full
          = yield

= render template: "layouts/user_application"